############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite


############################
# Misc.
############################

*#
.idea
nbproject
.vscode/


############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
build
node_modules
.node_history
package-lock.json
**/package-lock.json
!docs/package-lock.json
*.heapsnapshot


############################
# Tests
############################

testApp
coverage
cypress/screenshots
cypress/videos


############################
# Documentation
############################

dist

############################
# Builds
############################

packages/generators/app/files/public/
schema.graphql

############################
# Example app
############################

.dev
# *.cache

############################
# Visual Studio Code
############################

front-workspace.code-workspace
.yarn
.yarnrc
cem/.cache/
cem/.cache/package.json
cem/.cache/admin/src/plugins.js
cem/.cache/admin/src/components/AuthenticatedApp/tests/index.test.js
cem/.cache/admin/src/components/AuthenticatedApp/utils/tests/checkLatestStrapiVersion.test.js
cem/.cache/admin/src/components/LanguageProvider/tests/index.test.js
cem/.cache/admin/src/components/LanguageProvider/tests/init.test.js
cem/.cache/admin/src/components/LanguageProvider/tests/reducer.test.js
cem/.cache/admin/src/components/LeftMenu/index.js
cem/.cache/admin/src/components/LocalesProvider/tests/index.test.js
cem/.cache/admin/src/components/Notifications/tests/index.test.js
cem/.cache/admin/src/components/Notifications/tests/reducer.test.js
cem/.cache/admin/src/components/PluginsInitializer/tests/index.test.js
cem/.cache/admin/src/components/PluginsInitializer/tests/init.test.js
cem/.cache/admin/src/components/PluginsInitializer/tests/reducer.test.js
cem/.cache/admin/src/components/RBACProvider/tests/reducer.test.js
cem/.cache/admin/src/components/UpgradePlanModal/tests/index.test.js
cem/.cache/admin/src/content-manager/components/DynamicTable/CellContent/CellValue.js
cem/.cache/admin/src/content-manager/components/DynamicTable/CellContent/tests/CellValue.test.js
cem/.cache/admin/src/content-manager/components/DynamicTable/CellContent/utils/getNumberOfDecimals.js
cem/.cache/admin/src/content-manager/components/DynamicTable/CellContent/utils/tests/getNumberOfDecimals.test.js
cem/.cache/admin/src/content-manager/components/DynamicZone/components/AddComponentButton/tests/index.test.js
cem/.cache/admin/src/content-manager/components/DynamicZone/components/AddComponentButton/tests/__snapshots__/index.test.js.snap
cem/.cache/admin/src/content-manager/components/DynamicZone/components/DzLabel/tests/index.test.js
cem/.cache/admin/src/content-manager/components/DynamicZone/components/DzLabel/tests/__snapshots__/index.test.js.snap
cem/.cache/admin/src/content-manager/components/EditViewDataManagerProvider/tests/reducer.test.js
cem/.cache/admin/src/content-manager/components/InputUID/index.js
cem/.cache/admin/src/content-manager/components/InputUID/tests/index.test.js
cem/.cache/admin/src/content-manager/components/Inputs/index.js
cem/.cache/admin/src/content-manager/components/PreviewWysiwyg/Wrapper.js
cem/.cache/admin/src/content-manager/components/RepeatableComponent/index.js
cem/.cache/admin/src/content-manager/components/RepeatableComponent/DraggedItem/IconButtonCustoms.js
cem/.cache/admin/src/content-manager/components/RepeatableComponent/DraggedItem/index.js
cem/.cache/admin/src/content-manager/components/Wysiwyg/tests/index.test.js
cem/.cache/admin/src/content-manager/hooks/useFetchContentTypeLayout/tests/reducer.test.js
cem/.cache/admin/src/content-manager/hooks/useFetchContentTypeLayout/utils/tests/formatLayouts.test.js
cem/.cache/admin/src/content-manager/hooks/useFindRedirectionLink/tests/selectors.test.js
cem/.cache/admin/src/content-manager/hooks/useFindRedirectionLink/utils/tests/getRedirectionLink.test.js
cem/.cache/admin/src/content-manager/hooks/usePluginsQueryParams/tests/index.test.js
cem/.cache/admin/src/content-manager/hooks/useSyncRbac/tests/reducer.test.js
cem/.cache/admin/src/content-manager/hooks/useSyncRbac/tests/selectors.test.js
cem/.cache/admin/src/content-manager/pages/App/index.js
cem/.cache/admin/src/content-manager/pages/App/LeftMenu/index.js
cem/.cache/admin/src/content-manager/pages/App/tests/actions.test.js
cem/.cache/admin/src/content-manager/pages/App/tests/index.test.js
cem/.cache/admin/src/content-manager/pages/App/tests/reducer.test.js
cem/.cache/admin/src/content-manager/pages/App/tests/selectors.test.js
cem/.cache/admin/src/content-manager/pages/App/utils/tests/checkPermissions.test.js
cem/.cache/admin/src/content-manager/pages/App/utils/tests/generateModelsLinks.test.js
cem/.cache/admin/src/content-manager/pages/App/utils/tests/getContentTypeLinks.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/components/DisplayedFieldButton.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/components/FieldButtonContent.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/components/RelationalFieldButton.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/tests/index.test.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/tests/init.test.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/tests/reducer.test.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/tests/__snapshots__/index.test.js.snap
cem/.cache/admin/src/content-manager/pages/EditSettingsView/utils/tests/createPossibleMainFieldsForModelsAndComponents.test.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/utils/tests/getInputProps.test.js
cem/.cache/admin/src/content-manager/pages/EditSettingsView/utils/tests/layout.test.js
cem/.cache/admin/src/content-manager/pages/EditView/DraftAndPublishBadge/tests/index.test.js
cem/.cache/admin/src/content-manager/pages/EditView/Header/tests/index.test.js
cem/.cache/admin/src/content-manager/pages/EditView/Header/utils/tests/getDraftRelations.test.js
cem/.cache/admin/src/content-manager/pages/EditView/Header/utils/tests/data/compos-schema.json
cem/.cache/admin/src/content-manager/pages/EditView/Header/utils/tests/data/ct-schema.json
cem/.cache/admin/src/content-manager/pages/EditView/Header/utils/tests/data/entry-compos.json
cem/.cache/admin/src/content-manager/pages/EditView/Header/utils/tests/data/entry-dz.json
cem/.cache/admin/src/content-manager/pages/EditView/Header/utils/tests/data/entry-simple.json
cem/.cache/admin/src/content-manager/pages/EditView/Header/utils/tests/data/entry.json
cem/.cache/admin/src/content-manager/pages/EditView/Informations/tests/index.test.js
cem/.cache/admin/src/content-manager/pages/EditView/utils/tests/createAttributesLayout.test.js
cem/.cache/admin/src/content-manager/pages/EditView/utils/tests/getFieldsActionMatchingPermissions.test.js
cem/.cache/admin/src/content-manager/pages/ListSettingsView/components/DraggableCard.js
cem/.cache/admin/src/content-manager/pages/ListSettingsView/tests/ellipsisCardTitle.test.js
cem/.cache/admin/src/content-manager/pages/ListSettingsView/tests/index.test.js
cem/.cache/admin/src/content-manager/pages/ListSettingsView/tests/init.test.js
cem/.cache/admin/src/content-manager/pages/ListSettingsView/tests/reducer.test.js
cem/.cache/admin/src/content-manager/pages/ListSettingsView/tests/__snapshots__/index.test.js.snap
cem/.cache/admin/src/content-manager/pages/ListView/FieldPicker/utils/tests/getAllAllowedHeaders.test.js
cem/.cache/admin/src/content-manager/pages/ListView/tests/reducer.test.js
cem/.cache/admin/src/content-manager/pages/ListView/utils/tests/buildQueryString.test.js
cem/.cache/admin/src/content-manager/pages/NoContentType/tests/index.test.js
cem/.cache/admin/src/content-manager/pages/NoPermissions/tests/index.test.js
cem/.cache/admin/src/content-manager/sharedReducers/crudReducer/tests/crudReducer.test.js
cem/.cache/admin/src/content-manager/utils/tests/arrayMoveItem.test.js
cem/.cache/admin/src/content-manager/utils/tests/checkIfAttributeIsDisplayable.test.js
cem/.cache/admin/src/content-manager/utils/tests/createDefaultForm.test.js
cem/.cache/admin/src/content-manager/utils/tests/formatLayoutToApi.test.js
cem/.cache/admin/src/content-manager/utils/tests/getFieldName.test.js
cem/.cache/admin/src/content-manager/utils/tests/getMaxTempKey.test.js
cem/.cache/admin/src/content-manager/utils/tests/mergeMetasWithSchema.test.js
cem/.cache/admin/src/content-manager/utils/tests/removeKeyInObject.test.js
cem/.cache/admin/src/content-manager/utils/tests/removePasswordFieldsFromData.test.js
cem/.cache/admin/src/core/utils/tests/createHook.test.js
cem/.cache/admin/src/hooks/useFetchPermissionsLayout/tests/reducer.test.js
cem/.cache/admin/src/hooks/useFetchPluginsFromMarketPlace/tests/useFetchPluginsFromMarketPlace.test.js
cem/.cache/admin/src/hooks/useFetchRole/tests/reducer.test.js
cem/.cache/admin/src/hooks/useMenu/tests/reducer.test.js
cem/.cache/admin/src/hooks/useMenu/utils/tests/checkPermissions.test.js
cem/.cache/admin/src/hooks/useMenu/utils/tests/getGeneralLinks.test.js
cem/.cache/admin/src/hooks/useMenu/utils/tests/getPluginSectionLinks.test.js
cem/.cache/admin/src/hooks/useModels/tests/reducer.test.js
cem/.cache/admin/src/hooks/useRolesList/tests/init.test.js
cem/.cache/admin/src/hooks/useRolesList/tests/reducer.test.js
cem/.cache/admin/src/hooks/useSettingsForm/tests/reducer.test.js
cem/.cache/admin/src/hooks/useSettingsMenu/tests/reducer.test.js
cem/.cache/admin/src/hooks/useSettingsMenu/utils/tests/formatLinks.test.js
cem/.cache/admin/src/pages/Admin/Onboarding/tests/index.test.js
cem/.cache/admin/src/pages/Admin/tests/index.test.js
cem/.cache/admin/src/pages/Admin/tests/useTrackUsage.test.js
cem/.cache/admin/src/pages/AuthPage/components/Login/tests/BaseLogin.test.js
cem/.cache/admin/src/pages/AuthPage/components/Oops/tests/index.test.js
cem/.cache/admin/src/pages/AuthPage/components/Register/index.js
cem/.cache/admin/src/pages/AuthPage/components/Register/tests/index.test.js
cem/.cache/admin/src/pages/AuthPage/components/ResetPassword/tests/index.test.js
cem/.cache/admin/src/pages/AuthPage/tests/init.test.js
cem/.cache/admin/src/pages/AuthPage/tests/reducer.test.js
cem/.cache/admin/src/pages/AuthPage/utils/forms.js
cem/.cache/admin/src/pages/HomePage/tests/index.test.js
cem/.cache/admin/src/pages/MarketplacePage/tests/index.test.js
cem/.cache/admin/src/pages/ProfilePage/index.js
cem/.cache/admin/src/pages/ProfilePage/tests/index.test.js
cem/.cache/admin/src/pages/ProfilePage/tests/utils/server.js
cem/.cache/admin/src/pages/SettingsPage/pages/ApiTokens/EditView/index.js
cem/.cache/admin/src/pages/SettingsPage/pages/ApiTokens/ListView/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/ApplicationInfosPage/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ConditionsModal/utils/tests/createDefaultConditionsForm.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ContentTypeCollapse/Collapse/utils/tests/generateCheckboxesActions.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ContentTypeCollapse/CollapsePropertyMatrix/ActionRow/utils/tests/getRowLabelCheckboxeState.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ContentTypeCollapse/CollapsePropertyMatrix/utils/tests/generateHeadersFromActions.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/ContentTypeCollapse/utils/tests/getAvailableActions.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/GlobalActions/utils/tests/findDisplayedActions.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/GlobalActions/utils/tests/getRowLabelCheckboxesState.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/tests/reducer.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/createDefaultCTFormFromLayout.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/createDefaultPluginsFormFromLayout.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/data.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/formatContentTypesPermissionToAPI.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/formatLayoutForSettingsAndPlugins.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/formatSettingsPermissionsToAPI.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/updateConditionsToFalse.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/Permissions/utils/tests/updateValues.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/PluginsAndSettings/SubCategory/utils/tests/formatActions.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/PluginsAndSettings/SubCategory/utils/tests/getConditionsButtonState.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/utils/tests/createArrayOfValues.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/utils/tests/getCheckboxState.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/components/utils/tests/removeConditionKeyFromData.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/EditPage/tests/__snapshots__/index.test.js.snap
cem/.cache/admin/src/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Users/EditPage/utils/layout.js
cem/.cache/admin/src/pages/SettingsPage/pages/Users/ListPage/DynamicTable/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Users/ListPage/ModalForm/utils/layout.js
cem/.cache/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Users/ListPage/PaginationFooter/tests/__snapshots__/index.test.js.snap
cem/.cache/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Users/ListPage/tests/utils/server.js
cem/.cache/admin/src/pages/SettingsPage/pages/Users/components/SelectRoles/index.js
cem/.cache/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/index.js
cem/.cache/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/EventInput/tests/formatValue.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/index.js
cem/.cache/admin/src/pages/SettingsPage/pages/Webhooks/EditView/components/WebhookForm/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/reducer.test.js
cem/.cache/admin/src/pages/SettingsPage/pages/Webhooks/ListView/tests/server.js
cem/.cache/admin/src/pages/SettingsPage/tests/index.test.js
cem/.cache/admin/src/pages/SettingsPage/utils/tests/createSectionsRoutes.js
cem/.cache/admin/src/pages/SettingsPage/utils/tests/getSectionsToDisplay.test.js
cem/.cache/admin/src/tests/StrapiApp.test.js
cem/.cache/admin/src/translations/en.json
cem/.cache/admin/src/translations/zh-Hans.json
cem/.cache/admin/src/translations/tests/index.test.js
cem/.cache/admin/src/utils/tests/createRoute.test.js
cem/.cache/admin/src/utils/tests/data.js
cem/.cache/admin/src/utils/tests/formatAPIErrors.test.js
cem/.cache/admin/src/utils/tests/getAttributesToDisplay.test.js
cem/.cache/admin/src/utils/tests/getExistingActions.test.js
cem/.cache/admin/src/utils/tests/getFullName.test.js
cem/.cache/admin/src/utils/tests/sortLinks.test.js
cem/.cache/ee/admin/hooks/useAuthProviders/tests/reducer.test.js
cem/.cache/ee/admin/pages/SettingsPage/SingleSignOn/tests/index.test.js
cem/.cache/ee/admin/pages/SettingsPage/SingleSignOn/tests/server.js
cem/.cache/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/index.test.js
cem/.cache/ee/admin/pages/SettingsPage/pages/Roles/CreatePage/tests/__snapshots__/index.test.js.snap
cem/.cache/ee/admin/pages/SettingsPage/pages/Roles/ListPage/tests/index.test.js
cem/.cache/ee/admin/pages/SettingsPage/pages/Roles/ListPage/tests/reducer.test.js
cem/.cache